.toggle-wrap {
    display: none;

}

.table-wrap {
    overflow-x: auto;
}

@media(min-width:1024px) and (max-width:1030px) {
    .contacts-time {
        order: 1;
        margin-top: 10px;
        width: 72%;
    }
    .logo-desc span:first-child {
        font-size: 28px;
    }
    .logo-desc span:last-child {
        font-size: 9.5px;
    }
    
}

@media screen and (max-width: 1250px) {
    .header-menu-center_contacts{
        justify-content: center;
    }
    .header-menu-center{
        align-items: flex-start;
    }
    .contacts-rating{
        margin-top: 10px;
    }
    .header-menu-center_contacts {
        justify-content: center;
    }
    .header-menu-center_mini-cart{
        width: 100%;
        max-width: 200px;
        justify-content: flex-end;
    }
}
@media screen and (max-width: 1150px) {
    .header-menu-center .contacts-phone{
        margin-top: 10px;
    }
}

@media screen and (max-width: 1092px) {
    html {
        min-width: initial;
    }
    body {
        padding-top: 154px;
        min-width: initial;
    }
    .toggle-wrap {
        display: flex;
        position: fixed;
        flex-direction: column;
        justify-content: space-between;
        top: 0;
        left: 0;
        width: 100%;
        padding: 7px 0;
        background-color: #fafafa;
        z-index: 9;
    }
    .toggle-wrap-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .toggle-wrap-bottom{
        padding: 5px 14px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
                align-items: center;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        max-width: 400px;    
    }
    .toggle-wrap-btn{
        width: 100%;
        max-width: 272px;
        box-sizing: border-box;
        padding: 10px 0px;
    }
    .toggle-wrap .contacts-geo .contacts-desc, .header_menu.show-menu .contacts-geo .contacts-desc{
        max-width: 100%;
        margin-right: 0;
    }
    .toggle-wrap-btn button{
        width: 100%;
        background: #72BF39;
        border-radius: 5px;
        color: #fff;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: none;
    }
    .toggle-wrap-bottom .contacts-geo{
        align-items: center;
    }
    .toggle-wrap .extra-header-menu_socials {
        display: none;
    }
    .toggle-wrap.active .extra-header-menu_socials {
        display: flex;
    }
    .toggle-wrap.active {
        background-color: #ececec;
    }
    .header-menu-center_logo {
        min-width: auto;
    }
    .toggle-wrap.active .header-menu-center_logo {
        display: none;
    }
    .toggle-header-icons {
        padding: 0 14px 0 0;
    }
    .logo-icon img {
        width: 14px;
        height: 38px;
    }
    .logo-icon-bg {
        background: #fff;
    }
    .logo-desc span:first-child {
        font-size: 18px;
        border-bottom: none;
    }
    .toggle-wrap-top>button {
        border: 0;
        outline: none;
        cursor: pointer;
        color: white;
        background-color: transparent;
        height: 40px;
        text-transform: uppercase;
        padding: 0 14px;
    }
    .toggle-wrap-top>button.toggle-menu>span {
        background-color: #65bc2a;
        width: 20px;
        height: 3px;
        display: block;
        transition: all 0.2s ease;
    }
    .toggle-wrap-top>button.toggle-menu>span:last-child {
        width: 17px;
    }
    .toggle-wrap-top>button.toggle-menu>span+span {
        margin-top: 4px;
    }
    .toggle-wrap-top>button.toggle-menu.active>span:first-child {
        transform: rotate(42deg);
        position: relative;
        top: 3px;
        height: 3px;
        width: 20px;
        background: #333333;
    }
    .toggle-wrap-top>button.toggle-menu.active>span:first-child+span {
        transform: rotate(-42deg);
        margin: 0;
        background: #333333;
        height: 3px;
    }
    .toggle-wrap-top>button.toggle-menu.active>span:last-child {
        display: none;
    }
    .toggle-wrap-top .contacts-phone .contacts-icon{
        margin-right: 14px;
    }
    .header_menu {
        position: fixed;
        flex-direction: column;
        top: 41px;
        left: -100%;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background-color: #fff;
        transition: all 0.1s ease;
        margin: 0;
        padding: 0;
        -webkit-transition: all 0.1s ease;
        -moz-transition: all 0.1s ease;
        -ms-transition: all 0.1s ease;
        -o-transition: all 0.1s ease;
    }
    .header_menu.show-menu {
        left: 0;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 14px;
        background: #ececec;
    }
    .header_menu.show-menu .header_menu-mobile-sub-menu {
        display: block;
        width: 100%;
        margin-top: 20px;
        border-top: 1px solid #c4c4c4;
    }
    .header-menu-desctop-hide{
        display: block;
    }
    .header_menu.show-menu .extra-header-menu_links ul {
        flex-direction: column;
        padding: 20px 0;
    }
    .header_menu.show-menu .extra-header-menu_links li a {
        font-size: 16px;
        display: block;
        text-decoration: none!important;
    }
    .header_menu.show-menu .extra-header-menu_links li a:first-child {
        margin-bottom: 20px;
    }
    .header_menu .gray {
        display: block;
        text-transform: uppercase;
        text-align: center;
        padding: 8px 0;
        margin: 0!important;
        line-height: 1.5!important;
    }
    .header_menu a:last-of-type {
        display: none;
    }
    div[style="width:100%; height:50px;"] {
        height: 0!important;
    }
    .wrap_header {
        height: 0;
        border: 0;
    }
    .wrap_header,
    .wrap_header .wrap_sizes {
        position: static;
    }
    .wrap_header .logo,
    .wrap_header .header_phone {
        position: fixed;
        height: 40px;
        display: flex;
        align-items: center;
        top: 0;
        width: auto;
        min-width: initial;
        max-width: initial;
        z-index: 1000;
    }
    .wrap_header .logo {
        left: 50px;
        padding-left: 5px;
        padding-right: 5px;
        width: 200px;
    }
    .wrap_header .header_phone {
        right: 10px;
    }
    .wrap_header .header_phone a {
        border: 0!important;
        font-size: 20px;
    }
    .promo {
        display: none;
    }
    .mini-contacts_left {
        float: none;
        width: auto!important;
        margin-right: 0;
    }
    .footer_left {
        float: none;
        width: auto;
        text-align: center;
    }
    h1 {
        line-height: 1.2;
    }
    .content_item.item_active:not(.item_def) .item_block,
    .content_item.item_active.item_def .aloading.item_block {
        width: auto;
    }
    .content_item .item_block {
        padding-left: 30px;
        padding-right: 30px;
    }
    .wrap_item {
        min-width: initial;
    }
    .item_block_desc {
        float: none;
        width: auto;
        overflow: hidden;
        margin-left: 0;
    }
    .item_block_galery {
        margin-right: 30px;
        width: 400px;
    }
    .galery_big,
    .galery_big img {
        width: auto;
        height: 400px;
    }
    .item_block_desc .item_block_name {
        font-size: 32px;
        line-height: 1.2;
    }
    .item_block_desc .item_block_price {
        font-size: 42px;
        line-height: 1.2;
    }
    .addtocart {
        width: auto;
        white-space: nowrap;
        font-size: 16px;
        text-align: center;
    }
    .item_block_desc .addtocart {
        width: auto;
    }
    .addtocart span {
        margin-left: 0;
    }
    .galery_sm {
        display: flex;
        flex-wrap: wrap;
    }
    .galery_sm .sm_one {
        width: 64px;
        height: 64px;
        float: none;
        margin-left: 0;
        margin: 0 0 5px!important;
    }
    .galery_sm .sm_one.select {
        width: 64px;
        height: 64px;
    }
    .galery_sm .sm_one img {
        display: block;
        width: 100%;
        height: auto;
    }
    .basket {
        padding: 0;
        min-height: initial;
    }
    .basket .wrap_sizes {
        margin: 0;
    }
    /*
  .basket .success_form,
  .basket .confirm_form,
  .basket .basket_cart {
    display: none;
  }

  .basket .basket_cart {
    display: block;
    width: auto;
  }
*/
    .basket_clear,
    .return_cart {
        top: 10px;
        right: 10px;
    }
    /*
  .basket.confirm_basket .confirm_form {
    display: block;
    margin: 0;
    height: auto;
    padding: 10px;
  }
*/
    .basket.confirm_basket .confirm_form form {
        display: flex;
    }
    .basket.confirm_basket {
        min-height: initial;
        height: auto;
    }
    .basket input {
        float: none;
        width: auto;
        height: 30px;
        padding: 0 10px;
        margin-right: 5px;
    }
    .basket input:nth-child(2) {
        margin-bottom: 0;
    }
    .confirm_btn {
        width: auto;
        padding: 0 10px;
        line-height: 30px;
        vertical-align: middle;
        float: none;
        font-size: 16px;
        text-align: center;
    }
    .basket.confirm_basket .basket_cart {
        display: none;
        width: auto;
    }
    .basket.confirm_basket .wrap_sizes {
        margin-top: 0;
    }
    .basket.sended .success_form {
        display: block;
        padding: 10px;
        height: auto;
        font-size: 16px;
        margin: 0;
        width: auto;
    }
    .success_form .basket_clear {
        width: 20px;
        height: 20px;
        padding: 0;
        right: 10px;
    }
    .basket.sended .confirm_form {
        display: none;
    }
    .contacts_left,
    .contacts_right {
        float: none;
        width: auto!important;
    }
    .flower_order_form_desc h2 {
        font-size: 24px;
        max-width: 280px;
        line-height: 110%;
    }
    .flower_order_form_desc p {
        font-size: 16px;
        margin: 20px 0 20px 0;
    }
    .flower_order_form_desc .flower_order_form_btn {
        font-size: 18px;
        max-width: 280px;
    }
    .flower_order_form_bg {
        background-image: none;
        background: #E6688E;
        height: auto;
        position: relative;
    }
    .flower_order_form_bg::after {
        width: 10px;
        height: 100%;
        position: absolute;
        content: '';
        background: #E6688E;
        left: -10px;
    }
    .flower_order_form_bg::before {
        width: 10px;
        height: 100%;
        position: absolute;
        content: '';
        background: #E6688E;
        right: -10px;
    }
    .flower_order_form_wrap {
        margin-top: 20px;
    }
    .popup-header .flower_order_form_wrap {
        margin-top: 0px;
    }
    .popup-header .flower_order_form_bg, .popup-header .flower_order_form_form{
        max-width: 100%;
    }
    .popup-header .flower_order_form_form::before, 
    .popup-header .flower_order_form_form::after,
    .popup-header .flower_order_form_bg::before,
    .popup-header .flower_order_form_bg::after {
        content: none;
    }
    .flower_order_form_form .form-title{
        display: none;
    }
    .flower_order_form_desc {
        padding: 49px 20px;
    }
    .popup-header .flower_order_form_desc {
        padding: 24px 20px;
    }
    .flower_order_form_form {
        position: absolute;
    }
    .flower_order_form_form.active {
        position: relative;
        padding-bottom: 100px;
    }
    .flower_order_form_form::after,
    .flower_order_form_form::before {
        width: 10px;
        height: 100%;
        position: absolute;
        content: '';
        background: #D1426C;
    }
    .flower_order_form_form::after {
        right: -10px;
        top: 0;
    }
    .flower_order_form_form::before {
        left: -10px;
        top: 0;
    }
    .flower_order_form_form .form-row {
        flex-wrap: wrap;
    }
    .field_budget-label,
    .field_pay-type-label {
        /* width: 49%; */
        width: 100%;
        max-width: 100%;
    }
    .field_color-gamma-label {
        width: 100%;
        max-width: 100%;
    }
    .wrap_sizes .wrap_block.sortable {
        overflow: inherit;
    }
    .cart-page .page-title-wrap h1 {
        font-size: 24px;
        margin-bottom: 20px;
        margin-top: 0;
    }
    .mini-cart-icon {
        margin-right: 0;
    }
    .mini-cart-text {
        display: none;
    }
    .cart-item {
        align-items: flex-start;
        max-height: fit-content;
    }
    .cart-item-img {
        width: 150px;
        height: 150px;
    }
    .cart-item-name {
        max-width: 197px;
    }
    .cart-item-right {
        display: flex;
        flex-direction: column;
        max-width: 197px;
        align-items: flex-start;
    }
    .cart-item-right>div:not(:last-child) {
        margin-bottom: 20px;
    }
    .cart-item-name a {
        display: inline;
    }
    .cart-item-remove a {
        width: auto;
        padding: 0 15px;
    }
    .count-minus,
    .count-plus {
        width: 35px;
    }
    .cart-item-remove {
        width: auto;
    }
    .cart-item-remove span {
        display: block;
        font-size: 16px;
        margin-right: 9px;
        font-weight: 400;
    }
    .cart-total-wrap {
        display: none;
    }
    .cart-contact-info-wrap {
        margin-top: 0;
    }
    .cart-contact-info-content {
        padding: 30px 11px;
    }
    .cart-contact-info-title h2 {
        font-size: 24px;
        line-height: 24px;
    }
    .cart-contact-info-content .form-row {
        flex-direction: column;
    }
    .cart-contact-info-content form .form-row label {
        width: 100%;
    }
    /* .cart-item-wrapper:last-child .item-line{
        display: none;
    } */
    #ui-datepicker-div {
        max-width: 308px;
        padding: 30px 5px;
        left: 5px;
    }
    .ui-datepicker-title span {
        font-size: 20px;
    }
    .cart-order-list-wrap {
        padding: 40px 10px;
    }
    .cart-order-list li,
    .cart-order-delivery,
    .cart-order-otkritka,
    .cart-order-total {
        text-align: inherit;
        font-size: 16px;
    }
    .cart-order-list li span:first-child {
        max-width: 200px;
    }
    .row-textarea-last>span {
        display: block;
        color: #E5648B;
        position: relative;
        padding-left: 15px;
    }
    .row-textarea-last div span:last-child {
        display: none;
    }
    .row-textarea-last>span::before {
        position: absolute;
        content: url(../images/pink-star.svg);
        width: 13px;
        height: 13px;
        left: 0;
    }
    .cart-order-total {
        flex-direction: column;
        align-items: center;
        font-size: 20px;
        line-height: 26px;
    }
    .cookies_accept-content {
        padding: 15px;
    }
    .cookies_accept-content {
        height: auto;
        flex-direction: column;
    }
    .cookies_accept-btn {
        margin-top: 10px;
    }
    .cookies_accept-desc p {
        font-size: 12px;
    }
    .cookies_accept-desc a {
        display: inline;
    }
    .success-order-content {
        background: #72BF39;
        padding: 30px 15px;
        height: auto;
    }
    .success-order-desc .desc-title {
        font-size: 24px;
    }
    .success-order-desc .desc-thankyou span:last-child {
        font-size: 18px;
        text-align: center;
    }
    .success-order-desc .desc-thankyou span:first-child {
        text-align: center;
        max-width: 220px;
    }
    .desc-thankyou {
        align-items: center;
    }
    .success-order-desc .desc-price {
        margin: 24px 0 30px 0;
    }
    .content_item.item_def .item_block {
        width: auto;
    }
    .popup-success-pink-form-wrap.active{
        display: block;
        position: fixed;
        top: calc(50% - 100px);
        left: calc(50% - 160px);
        z-index: 11;
    }
}

@media screen and (max-width: 767px) {
    .extra-header-menu_bg.alert-banner.active{
        display: none;
    }
    .wrap_sizes,
    .wrap_block .block_label {
        margin-left: 10px;
        margin-right: 10px;
    }
    .wrap_sizes .wrap_block.sortable .block_label {
        margin-bottom: 0;
    }
    .wrap_block {
        margin-left: 0;
        margin-right: 0;
    }
    .wrap_block .item,
    .wrap_block.big_block .item {
        width: 45%;
        height: auto;
    }
    .wrap_block .item .any_bield,
    .wrap_block.big_block .item .any_bield,
    .item .item_desc {
        width: 100%;
        height: auto;
    }
    .block_label-wrap span {
        font-size: 16px;
        padding: 2px 10px;
    }
    .block_label-wrap .block_label {
        font-size: 24px;
        line-height: 32px;
    }
    .block_label-wrap {
        margin-top: 0;
    }
    .block_label-wrap span::before {
        border-top: 15px solid #E5648B;
        border-bottom: 15px solid #E5648B;
    }
    .block_label-wrap span::after {
        border-top: 15px solid #E5648B;
        border-bottom: 15px solid #E5648B;
    }
    .categoryText {
        display: none;
    }
    /*
  .wrap_block .item img {
    width: 160px;
    height: 160px;
  }
*/
    .wrap_block .products_allButton {
        height: 160px;
        padding: 5px;
    }
    .item_desc a,
    .item_price {
        font-size: 16px;
    }
    .products_allButton_arrow {
        width: 20px;
        height: 2px;
        margin-top: 10px;
    }
    .products_allButton_arrow:before {
        width: 10px;
        height: 10px;
        border-width: 2px;
        left: 9px;
        top: -5px;
    }
    .products_allButton_text>a {
        display: none;
    }
    .catalog-page {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .catalog-page .item {
        float: none;
        position: relative;
    }
    .catalog-page .item .any_bield {
        position: static;
    }
    .sm_big_chahge {
        display: none;
    }
    .sort_product.block_label {
        margin-right: 0;
    }
    .sort_product .one_sort {
        float: none;
        max-width: initial!important;
        margin: 0 0 15px!important;
    }
    .navigation_item {
        display: none!important;
    }
    .content_item .item_block {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 81px;
        display: flex;
        flex-direction: column;
        margin-top: 0!important;
        position: relative;
    }
    .content_item .item_block .br {
        display: none;
    }
    .item_block_galery {
        width: auto;
        height: auto;
        float: none;
        margin-right: 0;
    }
    .item_block_desc .item_block_name {
        position: absolute;
        top: 0;
    }
    .wrap_item {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
    }
    .payment_info {
        display: block;
    }
    .content_item {
        top: 30px;
    }
    .content_item .recent_block .wrap_block {
        padding: 0!important;
    }
    .wrap_block.fixed_height_one {
        max-height: initial;
    }
    .galery_big {
        height: auto;
    }
    .wrap_nav {
        height: 100%;
    }
    .galery_big img.i_end {
        display: none;
        width: 100%;
        height: auto;
        margin: 0;
    }
    .galery_big img.i_end.select {
        display: block;
    }
    .basket_cart {
        padding: 40px 10px 10px;
    }
    .basket_poduct {
        display: none;
    }
    .basket_order {
        position: static;
        width: auto;
        display: flex;
        align-items: center;
    }
    .basket_cart .buy_order {
        width: auto;
        display: inline-block!important;
        font-size: 16px;
        padding: 10px;
        margin: 0;
    }
    .basket_order_label {
        position: static;
        margin-left: 10px;
    }
    .basket_clear,
    .return_cart {
        display: flex;
        padding: 0;
        align-items: center;
        width: auto;
    }
    .basket_clear span,
    .return_cart span,
    .basket_clear b,
    .return_cart b {
        position: static;
    }
    .basket_clear b,
    .return_cart b {
        display: inline;
    }
    /*
  .basket.confirm_basket .confirm_form {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: 1020;
    box-sizing: border-box;
  }
*/
    .basket.confirm_basket .confirm_form form {
        flex-direction: column;
        margin-top: 50px;
    }
    .basket input {
        margin-right: 0;
        margin-bottom: 15px;
    }
    .basket input:nth-child(2) {
        margin-bottom: 15px;
    }
    .success_form p {
        padding-right: 20px;
    }
    .success_form .basket_clear {
        top: 10px;
    }
}

@media screen and (max-width: 500px) {
    .wrap_header .logo {
        width: 180px;
    }
    .wrap_header .header_phone a {
        font-size: 16px;
    }
    .wrap_sizes .block_label sup {
        display: block;
        margin-top: 0;
    }
    .wrap_block.fixed_height {
        max-height: initial;
    }
    .catalog-page.index .item.ias_child.hide:nth-child(1),
    .catalog-page.index .item.ias_child.hide:nth-child(2),
    .catalog-page.index .item.ias_child.hide:nth-child(3) {
        display: block!important;
        margin-left: 20px;
        margin-right: 20px;
    }
    .flower_order_form_form {
        padding: 40px 10px 30px 10px;
    }
    .field_color-gamma-label {
        margin-top: 20px;
    }
    .flower_order_form_form textarea {
        height: 40px;
    }
    #field_color-gamma,
    #field_sostav-buketa {
        height: 65px;
        font-size: 16px;
        line-height: 16px;
    }
    .field_text-otkritki-label,
    .field_adress-label,
    .field_zakazchik-name-label,
    .field_poluchatel-name-label,
    .field_zakazchik-phone-label,
    .field_poluchatel-phone-label {
        width: 100%;
        max-width: 100%;
    }
    .field_text-otkritki-label,
    .field_zakazchik-name-label,
    .field_zakazchik-phone-label {
        margin-bottom: 20px;
    }
    .field_text-otkritki-label {
        margin: 20px 0 0 0;
    }
    .field_text-otkritki-label div span:last-child {
        display: none;
    }
    .field_text-otkritki-label>span {
        display: flex;
        margin-top: 5px;
    }
    .primer-popup.active {
        width: 100%;
        padding: 15px 10px;
        left: 0;
        top: 26px;
    }
    .field_sostav-buketa-label .d-flex .primer-popup-handler.active,
    .field_color-gamma-label .d-flex .primer-popup-handler.active {
        padding: 0;
        background: none;
        color: #fff;
        margin: 0;
    }
    .order_form-thankyou-title {
        font-size: 24px;
    }
    .order_form-thankyou-desc {
        max-width: 280px;
    }
    .order_form-thankyou-close {
        top: 15px;
        right: 5px;
    }
    .order_form-thankyou-content {
        width: 320px;
        background: #72BF39;
        max-height: 223px;
        position: relative;
    }
    .order_form-thankyou-content::after {
        position: absolute;
        content: '';
        width: 10px;
        height: 100%;
        background: #72BF39;
        top: 0;
        left: -10px;
    }
    .order_form-thankyou-content::before {
        position: absolute;
        content: '';
        width: 10px;
        height: 100%;
        background: #72BF39;
        top: 0;
        right: -10px;
    }
    .flower_order_form_form select {
        font-size: 16px;
        padding: 8px 12px;
    }
    .flower_order_form_form input {
        font-size: 16px;
    }
    .primer-popup-close {
        display: block;
    }
    .scroll-top-btn-wrap {
        top: auto;
        bottom: 20px;
        right: calc(50% - 50px);
    }
}

@media screen and (max-width: 424px) {
    .wrap_header .header_phone a[href*="tel"] {
        text-indent: -10000px;
        width: 32px;
        height: 32px;
        background: url("../img/phone_mobile.svg") center no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        border-radius: 7px;
        overflow: hidden;
    }
    .header_phone .iconInst {
        width: 32px;
        height: 32px;
    }
    .catalog-page.index .item.ias_child.hide:nth-child(1),
    .catalog-page.index .item.ias_child.hide:nth-child(2),
    .catalog-page.index .item.ias_child.hide:nth-child(3) {
        margin-left: 0;
        margin-right: 0;
    }
    .catalog-page {
        justify-content: space-between;
    }
    .catalog-page>.item {
        margin-left: 0!important;
        margin-right: 0!important;
    }
    .catalog-page .br {
        display: none;
    }
    .item_block_desc .item_block_name {
        font-size: 28px;
    }
    .item_block_desc .item_block_price {
        font-size: 36px;
    }
}

@media screen and (max-width: 374px) {
    .wrap_header .logo {
        width: 160px;
    }
    /*
  .wrap_block .item,
  .wrap_block .item .any_bield,
  .item .item_desc {
    width: 145px;
  }

  .wrap_block .item img {
    width: 145px;
    height: 145px;
  }
*/
    .wrap_block .products_allButton {
        height: 145px;
    }
    .cart-item-img {
        width: 80px;
        height: 80px;
    }
}

@media screen and (max-width: 767px) {
    .basket {
        min-height: 110px;
        position: relative;
    }
    #order {
        min-height: 110px;
    }
    .basket_nav {
        z-index: 1111;
    }
    .basket_step {
        margin: 0;
        padding: 30px 20px 20px;
        transform: translate3d(-100%, 0, 0);
        flex-wrap: wrap;
    }
    .basket_step._active {
        position: relative;
    }
    .basket_title {
        width: 100%;
        margin: 0 0 10px;
    }
    .form_block {
        flex-wrap: wrap;
    }
    .formField textarea {
        width: 100%;
        margin: 0 0 10px;
    }
    .basket input[type=radio] {
        margin: 0 10px 0 0;
        height: auto;
    }
    /*.basket.confirm_basket .confirm_form {
		position: relative;
		width: auto;
		height: auto;
		background-color: transparent;
		top: 0;
		left: 0;
		z-index: 1;
		box-sizing: border-box;
	}
	.basket.confirm_basket {
	    position: fixed;
		width: 100%;
		height: 100%;
		background-color: #fff;
		top: 0;
		left: 0;
		z-index: 1020;
		box-sizing: border-box;
	}
	*/
}