assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
uploads/*
uploads_old/*
uploads_water/*
uploads_water_new/*
public_html/uploads/*
public_html/uploads_water/*
public_html/uploads_water_new/*
public_html/uploads_old/*

public_html/cache/*
public_html/cache

public_html/webstat/*
public_html/webstat

public_html/vendor/*
public_html/vendor

yii/*
yii

*.zip
*.log
*.webp
*.png
*.jpg
*.jpeg